/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4a62b0;
  --ifm-color-primary-dark: #43589e;
  --ifm-color-primary-darker: #3f5396;
  --ifm-color-primary-darkest: #34457b;
  --ifm-color-primary-light: #5a70b9;
  --ifm-color-primary-lighter: #6278bd;
  --ifm-color-primary-lightest: #7d8fc8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-heading-font-family: "M PLUS Rounded 1c", sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #96a6da;
  --ifm-color-primary-dark: #7b8fd0;
  --ifm-color-primary-darker: #6d83cc;
  --ifm-color-primary-darkest: #4461bd;
  --ifm-color-primary-light: #b1bde4;
  --ifm-color-primary-lighter: #bfc9e8;
  --ifm-color-primary-lightest: #e8ebf7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-heading-font-family: "M PLUS Rounded 1c", sans-serif;
}

/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */

.glslcanvas-box-wrapper {
  position: relative;
  max-width: 100%;
}

.glslcanvas-box-wrapper {
  margin: 1em 0;
}

.docus-glslcanvas-box {
  background: #fff;
  /* border: var(--docus-bd); */
  /* border-radius: 1em;
  padding: 1.5em; */
}

.docus-glslcanvas-box.is-fullscreen {
  height: 100% !important;
  border-radius: 0;
}

.glslcanvas-box-fullscreen-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background: #eee;
  border: 2px solid #dedede;
  border-radius: 14px;
  transition: all 0.15s ease;
  transform: scale(0);
}

.glslcanvas-box-wrapper:focus-within .glslcanvas-box-fullscreen-toggle,
.glslcanvas-box-wrapper:hover .glslcanvas-box-fullscreen-toggle,
.glslcanvas-box-fullscreen-toggle:focus {
  transform: scale(1);
}

.glslcanvas-box-fullscreen-toggle svg {
  fill: #696969;
  width: 25px;
}
